.para
{
    color: aquamarine;
}

#heading
{
    background-color: greenyellow;
}

.about
{
    background-color: beige;
}

#p1
{
    color: blue;
}

#p2
{
    color: Green;
}

#p3
{
    color: red;
}